fastapi==0.136.1
mediapipe==0.10.33
numpy==2.4.5
opencv_contrib_python==4.13.0.92
opencv_python==4.13.0.92
Pillow==12.2.0
pydantic==2.13.4
pymongo==4.17.0
torch==2.5.1
torchvision==0.20.1
uvicorn==0.34.0